.ask-question{
    min-height: 100vh;
    background-color: #f1f2f3;
}

.ask-ques-div{
    margin: auto;
    max-width: 1200px;
}

.ask-ques-div h1{
    padding: 60px 0px 10px 0px;
}

.ask-form-div{
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgb(0 0 0 /5%),
    -3px -3px 10px rgb(0 0 0 /5%);
}

h4{
    margin: 0%;
}

.ask-form-div label p{
    margin: 0px;
    font-size: 13px;
    padding: 3px 0px;
}

.ask-form-div label input,
.ask-form-div label textarea{
    padding: 10px;
    border: solid 1px #0000003e;
    font-family: 'Roboto', sans-serif;
    width: 97%;
    resize: vertical;
    margin: 7px 0px 15px 0px;
}

.review-btn{
    margin: 35px 0px 20px 0px;
    padding: 10px;
    background-color: #009dff;
    color: white;
    border: solid 1px #009dff;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.review-btn:hover{
    background-color: #0086d8;
}

.home2-div{
    margin-top: 100px;
}
